In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [3]:
# Import the data
df=pd.read_csv('data/lending_data.csv')
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [4]:
# Split the data into X_train, X_test, y_train, y_test
y = df['loan_status']
X = df.drop('loan_status', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [5]:
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
32646,9500.0,7.173,48100,0.376299,4,0,18100
70737,10900.0,7.768,53700,0.441341,5,1,23700
60742,7900.0,6.498,41700,0.280576,2,0,11700
43820,6900.0,6.049,37500,0.200000,1,0,7500
24236,7000.0,6.119,38200,0.214660,1,0,8200

In [6]:
# Train a Logistic Regression model print the model score
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.9920553033429633

In [7]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.992777548493603